.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background: white;
    text-align: center;
    width: 100%;
    height: 100%;
    display: table;
}

.loader > div {
    display: table-cell;
    vertical-align: middle;
    text-shadow: gainsboro 5px 5px
}