.root {
    margin-left: 15%;
    margin-right: 15%;
}

.root.favorite-mode .show-favorites {
    background: orange;
    color: white;
    border: 0;
    padding: 3px;
}

.root.favorite-mode .page {
    display: none;
}

.root.favorite-mode .page.favorite-page {
    display: block;
}