.page {
    margin: 10px 0;
    border: 1px solid gainsboro;
    padding: 10px;
    box-shadow: 4px 4px 4px gainsboro;
}

.page .detail-row:not(:first-child){
    display: none;
}

.expanded.page .detail-row {
    display: block;
}

.page .detail-row {
    margin: 5px 0;
}

.page .detail-row b {
    text-transform: capitalize;
}

.page .favorite {
    margin-right: 2px;
}